@page "/ChatBot"
@inject ChatbotService.ChatbotServiceClient ChatbotClient

@code {
    [Parameter]
    //public IList<IMessage> AllMessages { get; set; } = new List<IMessage>();
    public IList<string> AllMessages { get; set; } = new List<string>();

    string inputText { get; set; } = "";
    protected override void OnInitialized()
    {
        
    }

    async Task SendQuestion()
    {
        AllMessages.Add(inputText);
        try
        {
            var res = await ChatbotClient.SendQuestionAsync(new Message() { Text = inputText });
            AllMessages.Add(res.Text);
            inputText = String.Empty;
        }
        catch(Exception ex)
        {
            AllMessages.Add(ex.Message);
        }
    }

}

<div class="position-relative min-vh-100">
    <h3>ChatbotUI</h3>

    @foreach (var (message, index) in AllMessages.Select((m, i) => (m, i)))
    {
        @if (index % 2 == 0)
        {
            <p style="padding: .25em; text-align: left; overflow-wrap: normal">
                <span @key="index" class="tag is-large is-success is-light">
                    @message
                </span>
            </p>
        }
        else
        {
            <p style="padding: .25em; text-align: right; overflow-wrap: normal">
                <span @key="index" class="tag is-large is-info is-light">
                    @message
                </span>
            </p>
        }
    }
    <ul>
        @foreach (var (message, index) in AllMessages.Select((m, i) => (m, i)))
        {
            @if (index % 2 == 0)
            {
                <li>
                    <article class="message is-info">
                        <div class="message-body">
                            @message
                        </div>
                    </article>
                </li>
            }
            else
            {
                <li>
                    <article class="message is-primary">
                        <div class="message-body">
                            @message
                        </div>
                    </article>
                </li>
            }
        }
    </ul>

    <div class="fixed-bottom bg-light p-5" style="position: sticky">
        <div class="form-group">
            <label for="question">Kérdés</label>
            <input @bind="inputText"  type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Minél részletesebb a kérdés annál pontosabb a válasz</small>
        </div>
        <button @onclick="SendQuestion" disabled="@string.IsNullOrWhiteSpace(inputText)" class="btn btn-primary ">Küldés</button>
    </div>
</div>
